<h2> Olá {{ user.username }} </h2>

<p> Este é um e-mail de boas vindas!</p>

<p>
  Agradecemos por você ter feito o cadastrado em nosso sistema, 
  agora você poderá ter acesso a nossa comunidade.
</p>

<p>
  <em>Equipe <strong>{{ Env.get('APP_NAME', 'Venus') }} </strong>,
  <br />
  Agradece
  </em>
</>